<%= link_to "Index Page", events_path %>
<h1> My Events </h1>
<div>
  <ul>
    <% @my_events.each do |event| %>
      <li>
        <%= link_to event.name, event_path(event) %>
      </li>
    <% end %>
  </ul>
</div>
<div>
  <h3> Attended Events </h3>
  <ul>
    <% current_user.attended_events.where("").each do |event| %>
      <li><%= link_to event.name, event_path(event) %> </li>
    <% end %>
  </ul>
</div>
